<%= debug  @added_to_cart_products.count  %>
<%= debug  @cart_items  %>

<% @added_to_cart_products.each do |product| %>
  <div class="container d-flex justify-content-between">
    <%= product.product_variation.name%>
    <div class="d-flex >
      <%= form_tag cart_item_path(product.id), class:"d-flex flex-column text-center update-form", method: :patch do %>
        <%= number_field_tag :quantity, product.quantity, min: 1,  class: 'text-center', style: "width:50px;" %>
      <% end %>
      <%= button_to cart_item_path(product.id), method: :delete, style:"border:none; background:none;" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
<% if session[:cart].any? %>
  <%= form_tag orders_path, method: :post, class:"text-center mt-5" do %>
    <%= button_tag class: "btn btn-primary rounded-pill mt-5", type: "submit" do %>
        Confirmar compra
    <% end %>
  <% end %>
<% else %>
  <p class="text-center">Todavia no has agregado nada a tu carrito</p>
<% end %>

 <%#Con este boton creo la orden, accediendo a todos los productor del cart%>
 <%#Puedo requerir que tengan cuenta%>
 <%# O solo pedirles un nombre  y telefono%>

