<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top align-items-center">
  <%= link_to   root_path, class: "navbar-brand" do %>
    <h1 class="logo">ILUM<i class="fas fa-lightbulb"></i>NAR</h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
       <li class="nav-item">
        <%= link_to '/cart' do %>
          <i class="fas fa-shopping-cart fa-2x text-info cart-position">
          <span class="badge badge-light badge-pill cart-badge"><%= item_count %></span></i>
        <% end  %>
       </li>
        <li class="nav-item">
          <%= link_to "PRODUCTOS", products_path, class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "PROMOCIONES", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ASESORAMIENTO", root_path(anchor:'need-help'), class: "nav-link" %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
        <i class="fas fa-user-circle fa-3x dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mis pedidos", orders_path, class: "dropdown-item" %>
            <%= link_to "Mi cuenta", "#", class: "dropdown-item" %>
            <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
  </div>
</div>
