
<h1>My Orders: <%= current_user.email %> </h1>


<% @orders.each_with_index do |order, i| %>
  <div class="container border solid">  
    
    <h2> Order <strong><%= i + 1 %></strong> Total: <%= number_to_currency order.total_amount %></h2>
    
    <% order.added_to_cart_items.each do |added_item| %>
      <ul>
        <li> Product: <%= added_item.product.name %></li>
        <li> Product: <%= added_item.product.color %></li>
        <li> Quantity: <%= added_item.quantity %></li>
        <li> Price per unit: <%= added_item.price %></li>
        <li> Subtotal: <%= added_item.subtotal %></li>
      </ul>
    <% end %>
  </div>
<% end %>
<%= link_to "Home", root_path  %>